:root{

	--main-color:#7451eb;
	--white-color:#FFF;
	--black-color:#000;
	--grey-color:#808080;
	--shadow-color:grey;
	--body-font:'Montserrat', sans-serif;
	--skeleton:1200px;
	--radius:4px;

	--product-categorie:#06a9f5;
	--product-available:#34f50d;
	--product-price-ok:#05e8ff;
	--product-unavailable:#000000;
	--filter-shadow:2px 2px 4px var(--shadow-color);
	--border-color:var(--black-color);
	--border-width:2.5px;
	--border-style-componant:var(--border-width) solid var(--border-color);
	--linear-color-1:var(--product-available);
	--linear-color-2:var(--product-categorie);
	--linear-gradient: linear-gradient(to left,var(--linear-color-1) 0%, var(--linear-color-2) 100%);
}

body {
	--layout:'desk';
	padding: 16px;
	font-family: var(--body-font);
	box-sizing: border-box;
}

/* Layout */

header {
	display: flex;
	align-items: center;
	margin-bottom: 3rem;
	padding: .75rem;
	text-align: center;
	color: var(--white-color);
	background-color: var(--main-color);
	border-radius: var(--radius);
	border: var(--border-style-componant);
}

header img {
	height: 90px;
	margin-inline: 0 1rem;
	border:var(--border-style-componant);
	border-radius: calc(var(--radius) / 2);

}

header h1 {
	flex-grow: 1;
}

.wrapper{
	--gap-common:.9rem;
	display:flex;
	column-gap:var(--gap-common);
	/* max-width: var(--skeleton); */
}


/* Filtres */
.filtres {
	display: flex;
	flex-direction: column;
	width: 45vw;
	/* min-height: auto; */
	height: fit-content;
	/* margin: 8px; */
	padding: 8px;
	row-gap:var(--gap-common);
	border: var(--border-style-componant);
	border-radius: var(--radius);
	background-color:var(--white-color);
	box-shadow: var(--filter-shadow);
	
}

.filtres > h3 {
	margin-block:.35rem;
	color:var(--main-color);
	font-size:1.5rem;
	font-weight: bold;
	text-align: center;
}

.filter-name {
	display: block;
	width:100%;
	height: fit-content;
	padding-block:.5rem;
	padding-left:1rem;
	text-align: center;
	font-size:1.1rem;
	/* font-weight: bold; */
	color:var(--black-color);
	background:var(--product-available);
	border: var(--border-style-componant);
	border-radius: var(--radius);	
}

.list-filtered {
	--border-color:var(--product-available);
	display: flex;
	flex-direction: column;
	gap: .8rem;
	font-size:1.15rem;
	color:var(--black-color);
}

.item-filtered{
	padding:.45rem;
	font-size:1rem;
	font-weight: initial;
}


/* Datas Fetched Object */
.product {
	--gap:1rem;
	--paddingCard:.7rem;
	display:flex;
	flex-direction:column;
	width: 44%;
	row-gap:var(--gap);
	padding:.85rem;
	font-size:1rem;
	color:var(--white-color);
	background-color:var(--main-color);
	border:var(--border-style-componant);
	border-radius: var(--radius);
	transition: all .33s ease-in-out;
}

.product:hover {
	--shadow-color:var(--main-color);
	transform: translateY(-5px);
	box-shadow: var(--filter-shadow);
	cursor: pointer;
}


.product_name {
	
}

.product_avail {
	color:var(--product-available);
}

.product_avail[data-available='on']{

	color:var(--product-available);
	font-weight: bold;
}

.product_avail[data-available='off']{
	color:var(--product-unavailable);
}

.product_price {
	
}

.product_desc {
	
}

.product_name,
.product_desc {
	margin-block:0;
}

.product_img {
	max-width: 45%;
	object-fit: cover;
	align-self: center;
	margin-top: 2rem;
}


.product_cat {
	--shadow-color:var(--black-color);
	position: absolute;
	width:fit-content;
	padding:.5rem;
	font-weight: bold;;
	color:var(--white-color);
	background:var(--product-categorie);
	/* border-radius: calc( (-1) * var(--paddingCard) + var(--radius)); */
	border-radius: 2px;
}

.product_avis {
	display: flex;
	flex-direction: column;
	row-gap: .5rem;
	padding: .5rem;
	position: relative;
	border: var(--border-style-componant);
	background: var(--white-color);
	color: var(--main-color);
	font-weight: bold;
	border-radius: var(--radius);
}

.product_avis::after{
	--sizes:12px;
	--posElement:-6px;
	content:attr(data-avis-id);
	display: flex;
	justify-content: center;
	align-items: center;
	padding:6px;
	position: absolute;
	width: var(--sizes);
	height:var(--sizes);
	right: var(--posElement);
	top:var(--posElement);
	background: var(--black-color);
	color:var(--white-color);
	text-align: center;
}

/* Form */
.formulaire-avis{
	--gap:1rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	row-gap:var(--gap);
	margin-block:1rem;
	padding:.55rem;
	transition: all .25s ease-in-out;
	border-radius: var(--radius);
}

.formulaire-avis:focus-within {
	background:var(--black-color);
}

.formulaire-avis:focus-within > label, input {
	color:var(--white-color);
}


/* Liste Fiches */

.fiches {
	display: flex;
	justify-content: space-between;
	width: 100%;
	flex-wrap: wrap;
	gap: var(--gap-common);
}



.fiches p {
	margin-block:4px;
}


.displayed-datas {
	display: flex;
	justify-content: space-between;
	width: fit-content;
	flex-wrap: wrap;
	gap: var(--gap-common);
}


/* BTN */
.btn {
	display: flex;
	justify-content: center;
	align-items: center;
	background:var(--white-color);
	color:var(--black-color);
	font-size:1.2rem;
	border:var(--border-style-componant);
	padding:.55rem;
	border-radius: var(--radius);
}

.btn:hover {
	cursor:pointer;
	color:var(--white-color);
	background:var(--linear-gradient)
}

.btn-filter-price{

}

.btn-filter-product {

}

.btn-get-product-lower-price:hover,
.btn-get-product-dispo:hover,
.active {
	color:var(--black-color)
}

.btn-get-product-lower-price:hover {
	background: #05e8ff;
}

.btn-get-product-dispo:hover {
	background: var(--product-available);
}


.btn-filter-range-price {
	--sizes:22px;
	-webkit-appearance: none;  
	appearance: none;
	height:4px;
	padding:.2rem;
	outline: none; 
  }

  .slider::-webkit-slider-thumb {
	/* -webkit-appearance: none;
	appearance: none;
	width: var(--sizes);
	height: var(--sizes);
	cursor: pointer; */
  }

  .btn-filter-range-price::-moz-range-thumb {
	-webkit-appearance: none;  
	appearance: none;
	width: var(--sizes);
	height: var(--sizes);
	background: var(--main-color);
	border-radius:50%;
	border:none;
	cursor: pointer;
  }


@media all and (max-width:950px) {

	body{

		--layout:'tablet'
	}

		.product {
			max-width:41%;
			/* width: clamp(25vw,42%,310px); */
		}
}


@media all and (max-width:770px) {

	body{
		--layout:'Mobile';
		--skeleton:100%;
	}

	header {
		flex-direction: column;
	}

	.wrapper {
		flex-direction: column;
		column-gap:0;
	}

	.filtres {
		/* order:2; */
		width:auto;
		margin-bottom: 2rem;
	}

	.fiches {
		/* order:1; */
	}


}