:root{

	--main-color:#7451eb;
	--white-color:#FFF;
	--black-color:#000;
	--grey-color:#808080;
	--shadow-color:grey;
	--body-font:'Montserrat', sans-serif;
	--skeleton:1200px;
	--radius:4px;

	--product-categorie:#06a9f5;
	--product-available:#34f50d;
	--product-unavailable:#000000;
	--filter-shadow:2px 2px 4px var(--shadow-color);
}

body {
	--layout:'desk';
	padding: 16px;
	font-family: var(--body-font);
	box-sizing: border-box;
}

/* Layout */

header {
	display: flex;
	align-items: center;
	margin-bottom: 3rem;
	padding: .75rem;
	text-align: center;
	color: var(--white-color);
	background-color: var(--main-color);
	border-radius: var(--radius);
}

header img {
	height: 90px;
	margin-left: 1rem;
}

header h1 {
	flex-grow: 1;
}

.wrapper{
	--gap-common:.9rem;
	display:flex;
	column-gap:var(--gap-common);
	max-width: var(--skeleton);
}


/* Filtres */
.filtres {
	display: flex;
	flex-direction: column;
	width: 45vw;
	min-height: 80vh;
	/* margin: 8px; */
	padding: 8px;
	row-gap:var(--gap-common);
	/* border:.5px solid var(--black-color); */
	border-radius: var(--radius);
	background-color:var(--white-color);
	box-shadow: var(--filter-shadow);
	
}

.filtres h3 {
	color:var(--main-color);
	font-size:1.5rem;
	font-weight: bold;
	text-align: center;
}


/* Datas Fetched Object */
.product {
	--gap:1rem;
	--paddingCard:.7rem;
	display:flex;
	flex-direction:column;
	width: 45%;
	row-gap:var(--gap);
	padding:.85rem;
	font-size:1rem;
	color:var(--white-color);
	background-color:var(--main-color);
	border-radius: var(--radius);
	transition: all .33s ease-in-out;

}

.product_name {
	
}

.product_avail {
	color:var(--product-available);
}

.product_avail[data-available='on']{

	color:var(--product-available);
	font-weight: bold;
}

.product_avail[data-available='off']{
	color:var(--product-unavailable);
}

.product_price {
	
}

.product_desc {
	
}

.product_name,
.product_desc {
	margin-block:0;
}

.product_img {
	max-width: 45%;
	object-fit: cover;
	align-self: center;
	margin-top: 2rem;
}


.product_cat {
	--shadow-color:var(--black-color);
	position: absolute;
	width:fit-content;
	padding:.5rem;
	font-weight: bold;;
	color:var(--white-color);
	background:var(--product-categorie);
	/* border-radius: calc( (-1) * var(--paddingCard) + var(--radius)); */
	border-radius: 2px;
}

.product:hover {
	--shadow-color:var(--main-color);
	transform: translateY(-5px);
	box-shadow: var(--filter-shadow);
	cursor: pointer;
}


/* Liste Fiches */

.fiches {
	display: flex;
	justify-content: space-between;
	width: fit-content;
	flex-wrap: wrap;
	gap: var(--gap-common);
}



.fiches p {
	margin-block:4px;
}

@media all and (max-width:950px) {

	body{

		--layout:'tablet'
	}

		.product {
			width: clamp(25vw,42%,310px);
		}
}


@media all and (max-width:770px) {

	body{
		--layout:'Mobile';
		--skeleton:100%;
	}

	header {
		flex-direction: column;
	}

	.wrapper {
		flex-direction: column;
		column-gap:0;
	}

	.filtres {
		/* order:2; */
		width:auto;
		margin-bottom: 2rem;
	}

	.fiches {
		/* order:1; */
	}


}